<ion-app>
    <ion-header className="ion-no-border">
        <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
            <ion-title size="large" class="ion-text-center">{{choosedMed.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <ion-label class="color_urtic_theme_blue">{{ 'MedInformation.FormatLabel' | translate }}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-icon color="danger" slot="start" name=""></ion-icon>
                    <ion-select value="format" interface="action-sheet" [(ngModel)]="inputDosage"
                        class="bold-border rounded-corner shadow">
                        <ion-select-option *ngFor="let i = index; let dosage of allDosage" [value]="dosage.id">{{
                            dosage.description }}</ion-select-option>
                    </ion-select>
                    <ion-icon slot="end" name="information-circle"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-label class="color_urtic_theme_blue">{{ 'MedInformation.QuantityLabel' | translate }}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="3">
                    <ion-item class="bold-border rounded-corner shadow">
                        <ion-input type="number" inputmode="decimal" clearOnEdit="true" [(ngModel)]="inputQuantity">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-button class="bg_urtic_theme_blue" (click)="toggleQuantityInformation()" size="medium"
                            slot="start" lines="none">
                            <ion-icon lot="icon-only" name="information-circle"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-label class="color_urtic_theme_blue">{{ 'MedInformation.FrequencyLabel' | translate }}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-item class="bold-border rounded-corner shadow">
                        <ion-input type="number" clearOnEdit="true" [(ngModel)]="inputFrequency">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="9">
                    <ion-select value="frequence" placeholder="Selectionnez une fréquence" interface="action-sheet"
                        class="bold-border rounded-corner shadow" [(ngModel)]="inputPerTime">
                        <ion-select-option *ngFor="let i = index; let perTime of allFrequency" value="{{perTime.id}}">
                            {{ 'MedInformation.MedFrequency' | translate }} {{ perTime.name }}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'MedInformation.BackButton' | translate"
        (onLeftButtonClicked)="goBack()" [rightButtonText]="'MedInformation.NextButton' | translate"
        [rightButtonIcon]="nextIcon" (onRightButtonClicked)="save()">
    </app-navigation-button>
</ion-app>