<!-- QUESTION'S TEXT -->
<ion-col size="12">

  <ion-row *ngIf="currentQuestion" id="question_text">
    <ion-col size="12"
      class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin color_urtic_theme_blue">
      <p>{{ currentQuestion.text }}</p>
    </ion-col>
  </ion-row>


  <!-- QUESTION'S INOFRMATION -->
  <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false" id="question_info">
    <ion-col size="12" class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin">
      <p [hidden]="!currentQuestion.info"> {{ currentQuestion.info }}</p>
    </ion-col>
  </ion-row>

  <!-- SELECT -->
  <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false">
    <ion-col size="12">

      <ion-list>

        <ion-item *ngFor="let answer of allAnswers" item-left>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <ion-item item-left lines="none">
                  <ion-grid fixed>
                    <ion-row class="vh-center">
                      <ion-col size="2">
                        <ion-checkbox class="custom_checkbox_outline" [(ngModel)]="answer.isChecked"
                          (ionChange)="updateCurrentAnswer()">
                        </ion-checkbox>
                      </ion-col>
                      <ion-col size="10" (click)="checkTheAnswer(answer)">
                        <ion-label>{{answer.val.text}}</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="answer.val.supplementInput == true" class="vh-center">
              <ion-col size="12">
                <ion-item class="bold-border rounded-corner vh-center" lines="none">
                  <ion-textarea placeholder="{{answer.val.supplementInputText}}"
                    [(ngModel)]="answer.val.supplementInputAnswer">
                  </ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>

    </ion-col>
  </ion-row>

</ion-col>