#question_text {
    font-weight: bolder;
    margin: 3vw;
    font-size: x-large;
}

#question_info {
    color: gray;
    margin: 0;
}

// .list_item_container {
//     --ion-background-color: lightblue;
//     --border-radius: 3vh;
//     margin: 1vh 0;
// }

// .radio-icon {
//     border-style: none !important;
//     border-radius: 100%;
//     background-color: white !important;
// }


// .radio-inner {
//     background-color: lightblue !important;
// }

// #custom_radio {
//     border: none !important;
//     border-style: none !important;
//     border-radius: 100%;
//     background-color: white !important;
// }

// ion-radio {
//     --color: transparent;
// }