<!-- QUESTION'S TEXT -->
<ion-col size="12">

    <ion-row *ngIf="currentQuestion" id="question_text">
        <ion-col size="12"
            class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin color_urtic_theme_blue">
            <p>{{ currentQuestion.text }}</p>
        </ion-col>
    </ion-row>


    <!-- QUESTION'S INOFRMATION -->
    <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false" id="question_info">
        <ion-col size="12" class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin">
            <p [hidden]="!currentQuestion.info"> {{ currentQuestion.info }}</p>
        </ion-col>
    </ion-row>

    <!-- GROUP OF RADIO BUTTON -->
    <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false">
        <ion-col size="12">
            <ion-list>
                <ion-radio-group name="questions">
                    <ion-item *ngFor="let answer of currentQuestion.possibleAnswers; let i=index" item-left>
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-item lines="none">
                                        <ion-radio class="custom_radio" mode="md" [value]="answer"
                                            (click)="updateCurrentAnswer(answer)">
                                        </ion-radio>
                                        <ion-label class="vh-center padding-horizontal">{{ answer.text }}</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="answer.supplementInput == true" class="vh-center">
                                <ion-col size="12">
                                    <ion-item class="bold-border rounded-corner vh-center" lines="none">
                                        <ion-textarea placeholder="{{answer.supplementInputText}}"
                                            [(ngModel)]="answer.supplementInputAnswer"
                                            (ionChange)="updateCurrentAnswer(answer)">
                                        </ion-textarea>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-col>
    </ion-row>

    <!-- ANSWER'S INFORMATION -->
    <ion-row *ngIf="currentQuestion">
        <ion-col size="12" [hidden]="!currentAnswer || !currentAnswer.info">
            <p class="vh-center ion-text-center ion-padding-horizontal">{{ currentAnswer.info }}</p>
        </ion-col>
    </ion-row>


</ion-col>