// Variables 
$item_height: 25vh;
$item_margin: 1vh;
//

.gallery_item {
    margin: $item_margin;
    height: $item_height;
    background-color: green;
    border-radius: 1.5vh;
}

.add_pic_button {
    margin: $item_margin;
    height: $item_height;
    background-color: rgb(229, 229, 229);
    border-radius: 1.5vh;
}

.hidden_gallery_item {
    margin: $item_margin;
    height: $item_height;
    background-color: transparent;
    border-radius: 1.5vh;
}

#add_picture_icon {
    filter: opacity(0.5);
}