<ion-app>
  <ion-header className="ion-no-border" no-border>
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title size="large" class="ion-text-center">{{ 'Pictures.CompTitle' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid fixed>
      <ion-row class="vh-center">
        <ion-col size="5" class="add_pic_button vh-center" (click)="addPicture()">
          <ion-img id="add_picture_icon" [src]="pictureImage" id="addImage" class="icon-large padding-horizontal">
          </ion-img>
        </ion-col>
        <ion-col size="5" class="gallery_item" *ngFor="let pic of allPics"></ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'Pictures.BackButton' | translate"
    (onLeftButtonClicked)="goBack()" [hiddenRightButton]="true" [disableRightButton]="true">
  </app-navigation-button>
</ion-app>