<ion-footer no-border lines="none">
  <ion-toolbar class="bg_urtic_theme_red">
    <ion-item slot="start" class="ion-align-items-center bg_urtic_theme_red" lines="none" [disabled]="disableLeftButton"
      [hidden]="hiddenLeftButton">
      <ion-img [src]="leftButtonIcon" id="previousButton" class="icon-large padding-horizontal invert"
        (click)="clickLeftButton()"></ion-img>
      <p id="previousButton_label">{{leftButtonText}}</p>
    </ion-item>
    <ion-item slot="end" class="ion-align-items-center bg_urtic_theme_red" lines="none" [disabled]="disableRightButton"
      [hidden]="hiddenRightButton">
      <p id="nextButton_label">{{rightButtonText}}</p>
      <ion-img [src]="rightButtonIcon" id="nextButton" class="icon-large padding-horizontal invert"
        (click)="clickRightButton()"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-footer>


<!-- Template -->
<!-- <app-navigation-button [leftButtonIcon]="" [leftButtonText]="''" (onLeftButtonClicked)="" [disableLeftButton]="" [hiddenLeftButton]=""
      [rightButtonText]="''" [rightButtonIcon]="" (onRightButtonClicked)="" [disableRightButton]="" [hiddenRightButton]="">
    </app-navigation-button> -->