<!-- <ion-item [hidden]="homePageListItem.hideSkeleton == true">
  <ion-label>
    <h3>
      <ion-skeleton-text animated style=" width: 75%">
      </ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </p>
  </ion-label>
  <ion-thumbnail slot="end" class="icon-smaller">
    <ion-skeleton-text></ion-skeleton-text>
  </ion-thumbnail>
</ion-item> -->

<ion-item [hidden]="homePageListItem.surveyList.length == 0">
  <ion-grid fixed>
    <ion-row class="vh-center">
      <ion-col size="12">
        <ion-text color="secondary">
          <h1 class="ion-text-center color_urtic_theme_blue">{{homePageListItem.frequency.name}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row size="10" *ngFor="let survey of homePageListItem.surveyList"
      class="vh-center list_item ion-margin-bottom rounded-corner shadow" lines="none" (click)="goToSurvey(survey)">
      <ion-col>
        <ion-label>{{survey.surveyVersion.name}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <!-- <ion-progress-bar *ngIf="survey.isInprogress == true" class="custom_progess_bar" value="0.5"
          type="indeterminate"></ion-progress-bar> -->
        <ion-checkbox *ngIf="survey.isInprogress != true" [checked]="survey.isChecked" class="custom_checkbox disabled">
        </ion-checkbox>
        <ion-checkbox *ngIf="survey.isInprogress == true" class="custom_checkbox_progress disabled">
        </ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>