// VARIABLES
//

.bg_urtic_theme_red {
    --background: #fe7165 !important;
    color: white
}

.color_urtic_theme_blue {
    color: #355bad !important;
}

.list_item {
    border: 2px solid grey;
}

.shadow {
    -webkit-box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
}

.disabled {
    pointer-events: none;
    // opacity: 0.75;
}

.custom_progess_bar {
    --background: lightgray;
    --buffer-background: lightgray;
    --progress-background: #355bad;
    width: 10vw;
}