<ion-app>
  <!-- <ion-header class=" ion-no-border" no-border [hidden]="isLoggedIn == false">
  <ion-toolbar class="ion-align-items-center">
    <ion-title size="large" class="ion-text-center">URTIC</ion-title>
  </ion-toolbar>
  </ion-header> -->

  <!-- <ion-content class="top-padding" scroll-y="false" scroll-x="false" [hidden]="isLoggedIn == false">
    <ion-grid fixed class="grid_rotate">

      <ion-row>
        <ion-col size="12" class="vh-center">
          <div class="hex-1 vh-center" (click)="goToMedManager()">
            <p>{{ 'Homepage.Hex1' | translate }}</p>
          </div>
          <div class="hex-2 vh-center" (click)="gotToUas7Survey()">
            <p>{{ 'Homepage.Hex2' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="vh-center col_remove_bottom_margin">
          <div class="hex-3 vh-center" (click)="goToPicture()">
            <p>{{ 'Homepage.Hex3' | translate }}</p>
          </div>
          <div class="hex-4 vh-center" (click)="goToProfile()">
            <p>{{ 'Homepage.Hex4' | translate }}</p>
          </div>
          <div class="hex-5 vh-center" (click)="gotToAas7Survey()">
            <p>{{ 'Homepage.Hex5' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="vh-center">
          <div class="hex-6 vh-center" (click)="gotToQolSurvey()">
            <p>{{ 'Homepage.Hex6' | translate }}</p>
          </div>
          <div class="hex-8 vh-center" (click)="gotToQolSurvey()">
          </div>
          <div class="hex-7 vh-center" (click)="gotToUctSurvey()">
            <p>{{ 'Homepage.Hex7' | translate }}</p>
          </div>
          <div class="hex-9 vh-center" (click)="gotToUctSurvey()">
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid fixed class="top-margin">
      <ion-row>
        <ion-col size="6" class="vh-center">
          <div class="hex-10 vh-center grid_rotate" (click)="gotToMedHistory()">
            <p>{{ 'Homepage.Hex10' | translate }}</p>
          </div>
        </ion-col>
        <ion-col size=" 6" class="vh-center">
          <div class="hex-11 vh-center grid_rotate disabled">
            <p>{{ 'Homepage.Hex11' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content> -->

  <!-- <ion-content [hidden]="loadingSplashScreen != true">
    <ion-grid fixed class="vh-center top-half-margin">
      <ion-row>
        <ion-col size="12" class="vh-center">
          <ion-img [src]="urticLogo" class="large-image vh-center"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> -->


  <!-- <ion-footer [hidden]="isLoggedIn == false">
    <ion-grid>
      <ion-row>
        <ion-col class="vh-center">
          <ion-button style="text-align: center" color="danger" (click)="logout()">{{ 'Homepage.Logout' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer> -->








  <!-- ####################################################################################### -->
  <!--                                           NEW UI                                        -->
  <!-- ###########3########################################################################### -->
  <ion-header class="ion-no-border" [hidden]="isLoggedIn == false">
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title slot="start" size="large">{{ 'Homepage.Header' | translate }}!</ion-title>
      <ion-img slot="end" [src]="profileImage" (click)="goToProfile()" class="icon-small invert"></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content [hidden]="isLoggedIn == false">
    <ion-list>
      <app-homepage-list-item *ngFor="let item of homePageListItems" [homePageListItem]="item" [user]="this.currentUser"
        [hidden]="homePageListItems == null"></app-homepage-list-item>
    </ion-list>
  </ion-content>

  <ion-content [hidden]="loadingSplashScreen != true">
    <ion-grid fixed class="vh-center top-half-margin">
      <ion-row>
        <ion-col size="12" class="vh-center">
          <ion-img [src]="urticLogo" class="large-image vh-center"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


  <ion-footer [hidden]="isLoggedIn == false">
    <ion-toolbar class="bg_urtic_theme_red vh-center">
      <!-- <ion-button color="danger" (click)="logout()">{{ 'Homepage.Logout' | translate }} 
      </ion-button> -->

      <ion-grid fixed>
        <ion-row>
          <ion-col size="3" class="vh-center disabled">
            <ion-img [src]="pictureImage" class="icon-smaller invert"></ion-img>
          </ion-col>

          <ion-col size="3" class="vh-center" (click)="goToMedManager()">
            <ion-img [src]="medImage" class="icon-smaller invert"></ion-img>
          </ion-col>

          <ion-col size="3" class="vh-center disabled">
            <ion-img [src]="commnentImage" class="icon-smaller invert"></ion-img>
          </ion-col>

          <ion-col size="3" class="vh-center" (click)="logout()">
            <ion-img [src]="logoutImage" class="icon-smaller invert"></ion-img>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size="3" class="ion-text-center disabled">
            <p class="small_text_footer_item">{{ 'Homepage.FooterButtonSlot1' | translate }}</p>
          </ion-col>

          <ion-col size="3" class="ion-text-center">
            <p class="small_text_footer_item">{{ 'Homepage.FooterButtonSlot2' | translate }}</p>
          </ion-col>

          <ion-col size="3" class="ion-text-center disabled">
            <p class="small_text_footer_item">{{ 'Homepage.FooterButtonSlot3' | translate }}</p>
          </ion-col>

          <ion-col size="3" class="ion-text-center">
            <p class="small_text_footer_item">{{ 'Homepage.FooterButtonSlot4' | translate }}</p>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-toolbar>
  </ion-footer>





</ion-app>