// .bottom-margin {
//   margin-bottom: 10vh;
//   --margin-bottom: 10vh
// }

// .top-padding {
//   padding-top: 3vh;
//   --padding-top: 3vh
// }

// $colorsList: #db0064,
// #424bb2,
// #8fd14f,
// #ddddd
// #f24727,
// #c0e2fb,
// #0da78a,
// #4da6e6,
// #61ccb6,
// //10-11
// rgb(178, 248, 248),
// yellow,
// ;

// @for $i from 1 through length($colorsList) {
//   $background_color: nth($colorsList, $i);


//   // .hex1::before {
//   //   content: "\2B22";
//   //   color: orange;
//   //   font-size: 135px;
//   // }

//   .grid_rotate {
//     transform: rotate(29deg);
//     transform-origin: center;
//   }

//   .col_remove_bottom_margin {
//     margin-bottom: -4vh;
//     margin-top: -4vh;
//   }

//   .hex-#{$i} {
//     height: 30vw;
//     width: 30vw;
//     background: $background_color;
//     -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
//     clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

//     p {
//       transform: rotate(-29deg);
//       transform-origin: center;
//       overflow-wrap: break-word;
//       font-weight: bold;
//       text-align: center;
//       padding: 3vh;
//     }

//     @if $i==1 or $i==2 or $i==3 or $i==5 or $i==7 {
//       color: whitesmoke
//     }

//     @if $i==8 {
//       transform: scale(0.9);
//       background-color: #4da6e6;
//       z-index: -1;
//       position: absolute;
//       bottom: -2vw;
//       right: 48.5vw;

//     }

//     @if $i==9 {
//       transform: scale(0.9);
//       background-color: #61ccb6;
//       z-index: -1;
//       position: absolute;
//       bottom: -2vw;
//       right: 18.5vw;
//     }
//   }
// }

// .disabled {
//   filter: opacity(25%);
// }











// ##################################################################################################
// #                                                  NEW UI                                        #
// ##################################################################################################

// VARIABLES
//

.color_urtic_theme_blue {
  color: #355bad !important;
}

.list_item {
  border: 2px solid grey;
}

.shadow {
  -webkit-box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
}

.disabled {
  pointer-events: none;
  // opacity: 0.75;
}

.small_text_footer_item {
  font-size: 3vw;
  margin: 0;
}