<ion-app>
  <ion-content [hidden]="currentQuestionVersion == null">
    <ion-header className="ion-no-border">
      <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
        <ion-title size="medium" class="ion-text-center">{{ routeSurveyShortName }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- DEV PURPOSE ONLY -->
    <!-- <ion-text color="secondary" *ngFor="let question of allQuestions">
      <p>{{question.text}} : {{question.question_order}}</p>
    </ion-text>

    <ion-text color="success">
      <p>{{currentQuestionVersion.text}} : {{currentQuestionVersion.question_order}}</p>
    </ion-text>

    <ion-text color="success">
      <h1>{{currentPageIndex}}</h1>
    </ion-text> -->
    <!-- END  -->


    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="med-title vh-center">
          <h2>Question {{ currentPageIndex }}/{{ allQuestions.length }}</h2>
        </ion-col>
      </ion-row>

      <!-- QUESTION TYPE -->
      <!-- SINGLE CHOICE -->
      <ion-row *ngIf="currentQuestionVersion && currentQuestionVersion.questionType.name == 'Single choice' ">
        <app-question-single-choice [currentQuestion]="currentQuestionVersion"
          (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-single-choice>
      </ion-row>

      <!-- MULTIPLE CHOICES -->
      <ion-row *ngIf="currentQuestionVersion && currentQuestionVersion.questionType.name == 'Multiple choices' ">
        <app-question-multiple-choices [currentQuestion]="currentQuestionVersion"
          (onAnswerChoosed)="updateCurrentAnswer($event)"></app-question-multiple-choices>
      </ion-row>

      <!-- CALCULATED -->
      <ion-row *ngIf="currentQuestionVersion && currentQuestionVersion.questionType.name == 'Calculated' ">
        <app-question-calculated [currentQuestion]="currentQuestionVersion"
          (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-calculated>
      </ion-row>

      <!-- STRING VALUE -->
      <ion-row *ngIf="currentQuestionVersion && currentQuestionVersion.questionType.name == 'String value' ">
        <app-question-string [currentQuestion]="currentQuestionVersion" (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-string>
      </ion-row>

    </ion-grid>

  </ion-content>

  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'EditSurveyAnswer.BackButton' | translate"
    (onLeftButtonClicked)="goToAccount()" [rightButtonText]="'EditSurveyAnswer.NextButton' | translate"
    [rightButtonIcon]="nextIcon" (onRightButtonClicked)="nextQuestion()" [disableRightButton]="disableNextButton">
  </app-navigation-button>
</ion-app>