<ion-app>
  <ion-header className="ion-no-border">
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title size="medium" class="ion-text-center">{{ surveyShortName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- DEV PURPOSE ONLY -->
    <!-- <ion-text color="secondary" *ngFor="let question of allQuestions">
      <p>{{question.text}} : {{question.question_order}} :: verification({{question.verificationOrder}})</p>
    </ion-text>

    <ion-text color="success">
      <p>{{currentQuestion.text}} : {{currentQuestion.question_order}}</p>
    </ion-text>

    <ion-text color="success">
      <h1>{{currentPageIndex}}</h1>
    </ion-text> -->
    <!-- END  -->


    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="med-title vh-center">
          <h2>Question {{ currentPageIndex }}/{{ allQuestions.length }}</h2>
        </ion-col>
      </ion-row>

      <!-- QUESTION TYPE -->
      <!-- SINGLE CHOICE -->
      <ion-row *ngIf="currentQuestion && currentQuestion.questionType.name == 'Single choice' ">
        <app-question-single-choice [currentQuestion]="currentQuestion" (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-single-choice>
      </ion-row>

      <!-- MULTIPLE CHOICES -->
      <ion-row *ngIf="currentQuestion && currentQuestion.questionType.name == 'Multiple choices' ">
        <app-question-multiple-choices [currentQuestion]="currentQuestion"
          (onAnswerChoosed)="updateCurrentAnswer($event)"></app-question-multiple-choices>
      </ion-row>

      <!-- CALCULATED -->
      <ion-row *ngIf="currentQuestion && currentQuestion.questionType.name == 'Calculated' ">
        <app-question-calculated [currentQuestion]="currentQuestion" (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-calculated>
      </ion-row>

      <!-- STRING VALUE -->
      <ion-row *ngIf="currentQuestion && currentQuestion.questionType.name == 'String value' ">
        <app-question-string [currentQuestion]="currentQuestion" (onAnswerChoosed)="updateCurrentAnswer($event)">
        </app-question-string>
      </ion-row>

    </ion-grid>


    <!-- <ion-button (click)="checkForSubQuestion(true)" expand="block" fill="solid" shape="round" color="success">
      condition is met
    </ion-button>
    <ion-button (click)="checkForSubQuestion(false)" expand="block" fill="solid" shape="round" color="danger">
      condition is not met
    </ion-button> -->
  </ion-content>

  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'Survey.BackButton' | translate"
    (onLeftButtonClicked)="goToAccount()" [hiddenLeftButton]="hideBackButton" [rightButtonIcon]="nextIcon"
    [rightButtonText]="'Survey.NextButton' | translate" [disableRightButton]="disableNextButton"
    (onRightButtonClicked)="nextQuestion()"></app-navigation-button>
</ion-app>