.uas_score_meter_item {
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    padding-left: -3vh;
    font-weight: bold;
}