<ion-app>
    <ion-header>
        <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
            <ion-title size="large" class="ion-text-center">{{ 'MedDelete.CompTitle' | translate }}
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="padding-horizontal">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h1 class="med-title vh-center color_urtic_theme_blue">{{ 'MedDelete.SectionTitle' | translate }}
                    </h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="vh-center">
                    <ion-img [src]="warningIcon" class="med-image padding-vertical padding-horizontal">
                    </ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-text class="color_urtic_theme_blue">
                        <h3 class="ion-margin-top padding-horizontal ion-text-center color_urtic_theme_blue">{{
                            'MedDelete.DeleteMessage' |
                            translate }}</h3>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="padding-horizontal">
                    <ion-item lines="none" class="rounded-corner bold-border padding-vertical ion-margin-bottom shadow"
                        detail="false">
                        <ion-img [src]='medBottleIcon' slot="start"
                            class="icon-med padding-vertical padding-horizontal">
                        </ion-img>
                        <ion-label>
                            <h2>{{ choosedMed.name }}</h2>
                            <p>{{ choosedMed.quantity }} {{ 'MedDelete.MedUnit' | translate }} {{ medDosage }}</p>
                            <p> {{ choosedMed.frequencyQuantity}} {{ 'MedDelete.MedFrequency' | translate }} {{
                                currentFrequency }}</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'MedInformation.BackButton' | translate"
        (onLeftButtonClicked)="goBack()" [rightButtonText]="'MedInformation.NextButton' | translate"
        [rightButtonIcon]="nextIcon" (onRightButtonClicked)="delete()">
    </app-navigation-button>
</ion-app>