<ion-app>
  <ion-content class="vh-center" scroll-y="false" scroll-x="false">

    <ion-grid fixed>

      <ion-row>
        <ion-col size="12" class="vh-center">
          <ion-img [src]="error_animated" class="large-image ion-margin-top"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="vh-center">
        <ion-col class="vh-center">
          <ion-text color="dark" class="vh-center ion-margin-top">
            <h1 class="ion-margin-top ion-text-center">Oops!</h1>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="vh-center">
        <ion-col class="vh-center">
          <ion-text color="medium" class="vh-center">
            <h3 class="ion-text-center">Une erreur s'est produite</h3>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="vh-center">
          <ion-button style="text-align: center" color="tertiary" (click)="gotToHome()">Retour à la page d'accueil
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</ion-app>