<ion-col size="12" class="vh-center">

  <!-- QUESTION'S TEXT -->
  <ion-row *ngIf="currentQuestion" class="vh-center">
    <ion-col size="12" class="med-title vh-center ion-text-center ion-padding-horizontal">
      <p>{{ currentQuestion.text }}</p>
    </ion-col>
  </ion-row>

  <!-- HIDDEN -->
  <ion-row *ngIf="currentQuestion.hidden">
    <ion-col size="12" class="vh-center">
      <ion-img [src]="completedAnimation" class="med-image"></ion-img>
    </ion-col>
  </ion-row>

</ion-col>