.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 2vh 2vh 2vh 3vh;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #363636;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: bolder;
  margin-bottom: 10vh;
  margin-top: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: #363636;
}

.navigationButtonSpacing {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 2vh
}
.radioInputSpacing {
  border: none;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  margin: 2vh;
}
.radioInputSpacing label {
    margin-right: 2vh;
    font-weight: bold;
}
.radioInputSpacing input[type='radio']{
    transform: scale(1.5);
    margin: 1vh;
}
.nav-btn {
  border: none;
  display: inline-flex;
  align-items: center;
}
.nav-btn p {
  margin: 0 10px;
  font-weight: bolder;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #72767b;
  font-size: 12px;
}
#nav-btn-next {
  border: none;
  background: url("../../../assets/icons/next.png") no-repeat center;
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.nav-btn:disabled {
    filter: invert(70%)
}
#nav-btn-previous {
  border: none;
  border: 0;
  background: url("../../../assets/icons/previous.png") no-repeat center;
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.text-input {
  border-radius: 1vh;
  border: none;
  box-shadow: none;
  padding: 2vh;
  outline: none;
  width: 100%;
  margin: 1vh;
  font-weight: bold;
  color: #363636;
  background-color: whitesmoke
}
.text-input::placeholder {
  color: gray;
  font-style: normal;
  background-color: transparent;
  font-weight: bold;
  padding: 3vh 3vh 3vh -3vh;
  z-index: 0;
  margin: 0;
}
.text-input *{
    color :gray;
    font-weight: bold;
}
.customSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
.customCalendar{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
.form-label {
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  font-size: 2.5vh;
}
.form-container {
  display: grid;
}
#requiredIcon {
  border: none;
  border: 0;
  background: url("../../../assets/icons/required.png") no-repeat center;
  background-size: cover;
  width: 3.5vh;
  height: 3vh;
  margin-right: -1.5vh;
  z-index: 0;
}
.requiredContainer {
  border: none;
  display: inline-flex;
  align-items: center;
  width: 95%;
  justify-content: center;
}
.unrequiredContainer {
  border: none;
  display: inline-flex;
  align-items: center;
  width: 92%;
  margin-left: 1.5vh;
}
form {
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#ethnicity-container ul {
  padding: 0;
  margin: 0;
  clear: both;
}
#ethnicity-container li {
  list-style-type: none;
  list-style-position: outside;
  padding: 1vh;
  float: left;
}
#ethnicity-container input[type="checkbox"]:not(:checked),
#ethnicity-container input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}
#ethnicity-container input[type="checkbox"] + label {
  display: inline-block;
  padding: 3vh 1vh 2vh 1vh;
  cursor: pointer;
  background-color: whitesmoke;
  color: lightgray;
  border-radius: 1vh;
  margin-bottom: 1vh;
  font-size: 2vh;
  width: 13vh;
  height: 4vh;
  font-weight: bold;
}
#ethnicity-container input[type="checkbox"]:checked + label {
  color: whitesmoke;
  background-color: #414bb2;
}
#ethnicity-container ul{
    display: inline-flex;
}
.bottomSpacing {
    margin-bottom: 3vh;
}

::-webkit-calendar-picker-indicator { 
    background-color: #beb44d;
    filter: invert(100%);
    transform: scale(1.5);
    padding: .5vh;
    border-radius: .5vh;
}

.invalidInput {
  border-color: red;
}

.invalidInputWithShake {
  border-color: red;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: shake;
}

// From https://gist.github.com/skiminock/f338ea56e7b221ff66015bde74ce533d
@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
