<ion-app>
    <ion-header className="ion-no-border">
        <ion-toolbar class="ion-align-items-start bg_urtic_theme_red">
            <ion-title size="large" class="ion-text-center">{{ 'CompleteProfile.CompTitle' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-grid fixed class="ion-justify-content-start">
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="language.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-select interface="action-sheet" placeholder="{{ 'CompleteProfile.Language' | translate }}"
                            [(ngModel)]="language.input" (ionChange)="updateLanguage()">
                            <ion-select-option [value]="lang" *ngFor="let lang of allLanguage; let i=index">{{
                                "Profile.LanguageItem_" +
                                lang | translate }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-text>
                        <h2 class="color_urtic_theme_blue">{{ 'CompleteProfile.ContentTitle' | translate }}</h2>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="phone.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name=""></ion-icon>
                        <ion-input type="tel" inputmode="tel"
                            placeholder="{{ 'CompleteProfile.PhoneNumber' | translate }}" [(ngModel)]="phone.input">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="birthDate.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-datetime displayFormat="DD MM YYYY"
                            placeholder="{{ 'CompleteProfile.Birthday' | translate }}" [(ngModel)]="birthDate.input">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="ethnicity.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-select multiple="true" placeholder="{{ 'CompleteProfile.Ethnicity.Title' | translate }}"
                            cancelText="{{ 'CompleteProfile.Ethnicity.CancelText' | translate }}"
                            okText="{{ 'CompleteProfile.Ethnicity.OkText' | translate }}" [(ngModel)]="ethnicity.input"
                            title="{{ 'CompleteProfile.Ethnicity.Title' | translate }}">
                            <ion-select-option *ngFor="let ethnicity of ethlist; let i = index"
                                [value]="ethnicity.name">
                                {{ethnicity.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="birthGender.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-select interface="action-sheet"
                            placeholder="{{ 'CompleteProfile.Gender.Title' | translate }}"
                            [(ngModel)]="birthGender.input">
                            <ion-select-option value="0">{{ 'CompleteProfile.Gender.Male' | translate }}
                            </ion-select-option>
                            <ion-select-option value="1">{{ 'CompleteProfile.Gender.Female' | translate }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-text>
                        <h2 class="color_urtic_theme_blue">{{ 'CompleteProfile.Address.Title' | translate }}</h2>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8">
                    <ion-item [ngClass]="civilNum.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-input type="number" inputmode="number"
                            placeholder="{{ 'CompleteProfile.Address.CivilNumber' | translate }}"
                            [(ngModel)]="civilNum.input"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-item [ngClass]="appNum.class" class="bold-border rounded-corner shadow">
                        <ion-input placeholder="{{ 'CompleteProfile.Address.Appartment' | translate }}"
                            [(ngModel)]="appNum.input"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="street.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-input placeholder="{{ 'CompleteProfile.Address.Street' | translate }}"
                            [(ngModel)]="street.input"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="city.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-input placeholder="{{ 'CompleteProfile.Address.City' | translate }}"
                            [(ngModel)]="city.input"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="state.class" class="bold-border rounded-corner shadow">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-select interface="action-sheet"
                            placeholder="{{ 'CompleteProfile.Address.Province' | translate }}"
                            [(ngModel)]="state.input">
                            <ion-select-option *ngFor="let province of provinceList; let i = index" [value]="i">
                                {{province}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [ngClass]="postalCode.class" class="bold-border rounded-corner shadow" id="postal_code">
                        <ion-icon color="danger" slot="start" name="medical"></ion-icon>
                        <ion-input placeholder="{{ 'CompleteProfile.Address.PostalCode' | translate }}"
                            [(ngModel)]="postalCode.input" (ionChange)="updatePostaleCode()"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <app-navigation-button [rightButtonText]="'CompleteProfile.NextButton' | translate" [rightButtonIcon]="nextIcon"
        [leftButtonIcon]="previousIcon" (onLeftButtonClicked)="logout()" (onRightButtonClicked)="postUser()"
        [leftButtonText]="'CompleteProfile.PreviousButton' | translate">
    </app-navigation-button>
</ion-app>