<ion-app>
    <ion-header className="ion-no-border">
        <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
            <ion-title size="large" class="ion-text-center">{{ 'MedManager.CompTitle' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content lines="none">
        <ion-list class="ion-margin-top ion-margin-horizontal" *ngIf="userMedList.length !== 0">
            <ion-item button lines="none" class="rounded-corner bold-border padding-vertical ion-margin-bottom shadow"
                detail="false" *ngFor="let med of userMedList; let i = index">
                <ion-img [src]='medBottleIcon' slot="start" class="icon-med padding-vertical padding-horizontal">
                </ion-img>
                <ion-label (click)="editMed(i)">
                    <h2>{{ med.name }}</h2>
                    <p>{{ med.quantity }} {{ 'MedManager.MedUnit' | translate }} {{ medDosage[med.dosageId] }}</p>
                    <p> {{ med.frequencyQuantity}} {{ 'MedManager.MedFrequency' | translate }} {{ getFrequency(i) }}
                    </p>
                </ion-label>
                <ion-img [src]='deleteIcon' slot="end" class="icon-med padding-vertical padding-horizontal"
                    (click)='confirmDelete(i);'></ion-img>
            </ion-item>
        </ion-list>
        <div class="ion-justify-content-center margin-horizontal" [hidden]="userMedList.length > 0">
            <ion-text class="color_urtic_theme_blue">
                <h1 class="ion-margin-top ion-text-center color_urtic_theme_blue">{{ 'MedManager.StartingMessage' |
                    translate }}</h1>
            </ion-text>
        </div>
    </ion-content>

    <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'MedManager.BackButton' | translate"
        (onLeftButtonClicked)="goToAccount()" [rightButtonText]="'MedManager.NextButton' | translate"
        [rightButtonIcon]="plusIcon" (onRightButtonClicked)="addMed()">
    </app-navigation-button>
</ion-app>