<ion-col size="12">

  <!-- QUESTION TEXT  -->
  <ion-row *ngIf="currentQuestion" id="question_text">
    <ion-col size="12"
      class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin color_urtic_theme_blue">
      <p>{{ currentQuestion.text }}</p>
    </ion-col>
  </ion-row>

  <!-- QUESTION'S INOFRMATION -->
  <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false" id="question_info">
    <ion-col size="12" class="vh-center ion-text-center ion-padding-horizontal negative_med_top_margin">
      <p [hidden]="!currentQuestion.info"> {{ currentQuestion.info }}</p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="currentQuestion && currentQuestion.hidden == false">
    <ion-col size="12">
      <ion-item class="bold-border rounded-corner vh-center shadow" lines="none"
        *ngFor="let answer of currentQuestion.possibleAnswers">
        <ion-textarea placeholder="{{answer.supplementInputText}}" [(ngModel)]="answer.supplementInputAnswer"
          (ionChange)="updateCurrentAnswer(answer)">
        </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-col>