<ion-app>

  <ion-header className="ion-no-border">
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title size="large" class="ion-text-center">{{ surveyShortName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- <ion-list class="ion-margin-top ion-margin-horizontal">
      <ion-item *ngFor="let question in allQuestions">
        <ion-label>{{ question.text }}</ion-label>
        <ion-label [hidden]="question.info == (null || '')">{{ question.info }}</ion-label>
        <ion-img [src]='editIcon' slot="end" class="icon-med padding-vertical padding-horizontal"
          (click)='editAnswers(i);'>
        </ion-img>
      </ion-item>
    </ion-list> -->

    <ion-list class="ion-margin-top ion-margin-horizontal">
      <ion-item *ngFor="let question of allQuestions; let i = index" lines="none"
        class="rounded-corner bold-border padding-vertical ion-margin-bottom shadow" detail="false">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-label class="bold-label med-title">{{ question.text }}</ion-label>
            </ion-col>
            <ion-col size="12" class="color-medium-label bold-label">
              <ion-label *ngIf="question.info != (null || '')">{{ question.info }}</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label>{{ allAnswerStringValue[i].text }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-img [src]='editIcon' slot="end" class="icon-med padding-vertical padding-horizontal"
          (click)="editAnswer(question)">
        </ion-img>
      </ion-item>

      <!-- dev purpose only -->
      <!-- <ion-item *ngFor="let question of allQuestions; let i=index">
        <ion-label color="success">verificationOrder: {{ question.verificationOrder }}</ion-label>
      </ion-item> -->
      <!-- end -->
    </ion-list>


  </ion-content>


  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'AnswerManager.BackButton' | translate"
    (onLeftButtonClicked)="goBack()" [disableRightButton]="true" [hiddenRightButton]="true">
  </app-navigation-button>

</ion-app>