<ion-app>
  <ion-header className="ion-no-border">
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title size="large" class="ion-text-center">{{ 'Profile.CompTitle' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item lines="none" class="margin-horizontal margin-vertical">
      <ion-label class="bold-label color_urtic_theme_blue">{{ 'Profile.LanguageTitle' | translate }}</ion-label>
      <ion-select class="bold-border rounded-corner shadow" value="language" interface="action-sheet"
        [(ngModel)]="newLanguage" (ionChange)="languageChange()">
        <ion-select-option *ngFor="let lang of allLangs" [value]="lang">{{ "Profile.LanguageItem_" +
          lang | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-content>

  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'Profile.BackButton' | translate"
    (onLeftButtonClicked)="goToAccount()" [hiddenRightButton]="true"></app-navigation-button>

</ion-app>