.no_background_color,
ion-content {
    --ion-background-color: rgba(0, 0, 0, 0.85) !important;
    --background: rgba(0, 0, 0, 0.85) !important;
}

.top-padding {
    padding-top: 3vh;
    --padding-top: 3vh
}

.bottom-margin {
    margin-bottom: 10vh;
    --margin-bottom: 10vh
}

$colorsList: #db0064,
#424bb2,
#8fd14f,
#dddddd,
#f24727,
#c0e2fb,
#0da78a;

@for $i from 1 through length($colorsList) {
    $background_color: nth($colorsList, $i);


    // .hex1::before {
    //   content: "\2B22";
    //   color: orange;
    //   font-size: 135px;
    // }

    .grid_rotate {
        transform: rotate(29deg);
        transform-origin: center;
    }

    .col_remove_bottom_margin {
        margin-bottom: -4vh;
        margin-top: -4vh
    }

    .hex-#{$i} {
        height: 30vw;
        width: 30vw;
        background: $background_color;
        -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

        p {
            transform: rotate(-29deg);
            transform-origin: center;
            overflow-wrap: break-word;
            font-weight: bold;
            text-align: center;
            padding: 3vh;
        }

        @if $i==1 or $i==2 or $i==3 or $i==5 or $i==6 or $i==7 {
            color: whitesmoke
        }
    }
}

.hidden {
    filter: opacity(0%);
}

.disabled {
    filter: opacity(50%);
}