<ion-header class="ion-no-border" no-border id="header">
  <ion-toolbar class="ion-align-items-center" class="no_background_color">
    <ion-title size="large" class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="top-padding" scroll-y="false" scroll-x="false" id="content">
  <ion-grid fixed class="grid_rotate">

    <ion-row>
      <ion-col size="12" class="vh-center">
        <div id="hex-1" class="hex-1 vh-center hidden">
          <p id="hex-text-1">{{ 'SurveyGroup.Hex1' | translate }}</p>
        </div>
        <div id="hex-2" class="hex-2 vh-center hidden">
          <p id="hex-text-2">{{ 'SurveyGroup.Hex2' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="vh-center col_remove_bottom_margin">
        <div id="hex-3" class="hex-3 vh-center hidden">
          <p id="hex-text-3">{{ 'SurveyGroup.Hex3' | translate }}</p>
        </div>
        <div id="hex-4" class="hex-4 vh-center" (click)="closeSurveyGroupModal()">
          <p id="hex-text-4">{{ 'SurveyGroup.Hex4' | translate }}</p>
        </div>
        <div id="hex-5" class="hex-5 vh-center hidden">
          <p id="hex-text-5">{{ 'SurveyGroup.Hex5' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="vh-center">
        <div id="hex-6" class="hex-6 vh-center hidden">
          <p id="hex-text-6">{{ 'SurveyGroup.Hex6' | translate }}</p>
        </div>
        <div id="hex-7" class="hex-7 vh-center hidden">
          <p id="hex-text-7">{{ 'SurveyGroup.Hex7' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid fixed class="top-margin" [hidden]="true">
    <ion-row>
      <ion-col size="6" class="vh-center">
        <div class="hex-10 vh-center grid_rotate disabled">
          <p>{{ 'SurveyGroup.Hex10' | translate }}</p>
        </div>
      </ion-col>
      <ion-col size="6" class="vh-center">
        <div class="hex-11 vh-center grid_rotate disabled">
          <p>{{ 'SurveyGroup.Hex11' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>