<ion-app>
    <ion-header>
        <ion-toolbar class="bg_urtic_theme_red">
            <ion-title size="large" class="ion-text-center">{{ 'MedManager.CompTitle' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-header no-border>
        <ion-toolbar class="ion-align-items-center">
            <ion-searchbar (ionInput)="getSearchResult($event)" (ionCancel)="delSearch()"
                placeholder="Trouver un medicament">
            </ion-searchbar>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list class="ion-margin-top">
            <ion-item button lines="none"
                class="rounded-corner bold-border padding-vertical ion-margin-horizontal ion-margin-top shadow"
                detail="false" *ngFor="let med of medicamentsList" (click)="goToMedInfo(med)">
                <ion-img [src]='medBottleIcon' slot="start" class="icon-med padding-vertical padding-horizontal">
                </ion-img>
                <ion-label>
                    <h2 *ngIf="med.commercial_name === (null || ''); else elseBlock"> {{med.name}}</h2>
                    <ng-template #elseBlock>
                        <h2> {{med.name}}</h2>
                        <h3> {{med.commercial_name}}</h3>
                    </ng-template>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>

    <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'Retour'"
        (onLeftButtonClicked)="goToMedManager()" [disableRightButton]="true" [hiddenRightButton]="true">
    </app-navigation-button>
</ion-app>