/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  padding: 0 2.5vh;
  --ion-padding: 0 2.5vh;
}

.icon-small {
  height: 42px;
  width: 42px;
}

.icon-smaller {
  height: 4vh;
  width: 4vh;
}

.icon-med {
  height: 50px;
  width: 50px;
}

.icon-large {
  height: 64px;
  width: 64px;
}

.rounded-corner {
  border-radius: 2vh;
}

.bold-border {
  // border: solid 3px black;
  border: 2px solid grey;
}

@media (prefers-color-scheme: dark) {
  .bold-border {
    // border: solid 3px rgb(50, 50, 50);
    border: 2px solid rgb(226, 226, 226);
  }

  .icon-small {
    height: 42px;
    width: 42px;
    filter: invert(75%);
  }

  .icon-med {
    height: 50px;
    width: 50px;
    filter: invert(75%);
  }

  .icon-large {
    height: 64px;
    width: 64px;
    filter: invert(50%);
  }

}

.med-image {
  height: 20vh;
  width: 20vh;
}

.large-image {
  height: 40vh;
  width: 40vh;
}

.med-title {
  font-size: 5vh;
}

.color-medium-label {
  color: gray;
}

.large-title {
  font-size: 2.5vh;
}

.padding-horizontal {
  padding: 0 1vh;
  --ion-padding: 0 1vh;
}

.padding-vertical {
  padding: 1vh 0;
  --ion-padding: 1vh 0;
}

.margin-horizontal {
  margin: 0 1vh;
  --ion-margin: 0 1vh;
}

.sm-margin-horizontal {
  margin: 0 .5vh;
  --ion-margin: 0 .5vh;
}

.margin-vertical {
  margin: 1vh 0;
  --ion-margin: 1vh 0;
}

.top-margin {
  --margin-top: 10vh;
  margin-top: 10vh;
}

.negative_med_top_margin {
  --margin-top: -5vh;
  margin-top: -5vh;
}

.input-padding-left input {
  padding-left: 1vh;
}

.bolder-label {
  font-weight: bolder;
}

.bold-label {
  font-weight: bold;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme_purple_background {
  background-color: #424bb2;
  --ion-background-color: #424bb2;
}

.top-half-margin {
  margin-top: 50%;
}

.disabled {
  filter: opacity(0.4);
  pointer-events: none;
}


//###########################################
// ################# SURVEY #################
//###########################################

.survey_completed {
  $slot_color: lightgreen !important;
  background-color: $slot_color;
  border: solid 1px $slot_color;
}

.survey_completed_and_editable {
  $slot_color: green !important;
  background-color: whitesmoke;
  border: solid 2px $slot_color;
}

.survey_in_progress {
  $slot_color: rgb(245, 233, 124) !important;
  background-color: $slot_color;
  border: solid 1px $slot_color;
}

.survey_danger {
  $slot_color: lightcoral !important;
  background-color: $slot_color;
  border: solid 1px $slot_color;
}

.survey_danger_disabled {
  $slot_color: lightpink !important;
  background-color: $slot_color;
  border: solid 1px $slot_color;
}

.survey_todo {
  $slot_color: whitesmoke !important;
  background-color: $slot_color;
  border: solid 1px $slot_color;
}

.next-month-day,
.last-month-day {
  color: black !important;
  visibility: hidden !important;
}

.modal-wrapper {
  background: transparent !important;
}

ion-label {
  white-space: break-spaces !important;
  --ion-white-space: break-spaces !important;
}

.invert {
  filter: invert(1);
}

.bg_urtic_theme_red {
  --background: #fe7165 !important;
  color: white
}

.bg_urtic_theme_blue {
  --background: #355bad !important;
  color: white
}

.color_urtic_theme_blue {
  color: #355bad !important;
  font-weight: bold;
}

.shadow {
  -webkit-box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.15);
}

.custom_checkbox {
  --checkmark-color: white;
  --background: lightgray;
  --background-checked: #355bad;
  --border-color: lightgray;
  --border-width: 2px;
  --border-color-checked: #355bad;
}

.custom_checkbox_outline {
  --checkmark-color: white;
  --background: white;
  --background-checked: #355bad;
  --border-color: #355bad;
  --border-width: 2px;
  --border-color-checked: #355bad;
}

.custom_checkbox_progress {
  --checkmark-color: white;
  --background: rgb(255, 221, 0);
  --background-checked: rgb(255, 221, 0);
  --border-color: rgb(255, 221, 0);
  --border-width: 2px;
  --border-color-checked: rgb(255, 221, 0);
}

.custom_radio {
  --color: #355bad;
  --color-checked: #355bad;
}