<ion-app [hidden]="displlayCalendar == false">
  <ion-header className="ion-no-border">
    <ion-toolbar class="ion-align-items-center bg_urtic_theme_red">
      <ion-title size="large" class="ion-text-center">{{ surveyShortName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-margin">
    <ion-calendar [format]="'YYYY-MM-DD'" [options]="options" (change)="updateChoosedDate($event)"
      [hidden]="displlayCalendar == false" [(ngModel)]="this.dateRange" [lang]="'fr'">
    </ion-calendar>

    <!-- <ion-button (click)="initUnfilledDaysBeforeRange()" expand="block" fill="clear" shape="round">
      Before
    </ion-button>
    <ion-button (click)="initUnfilledDaysPastRange()" expand="block" fill="clear" shape="round">
      past
    </ion-button> -->


    <!-- TODO: Move this part into database; -->
    <ion-list>
      <ion-list-header class="color_urtic_theme_blue">
        {{ 'SurveyCalendar.CaptionToggleTitle' | translate }}
        <ion-button (click)="expandAndCloseLegend()" expand="full" class="vh-center">
          <ion-icon class="expand_icon vh-center" slot="icon-only" name="chevron-down-outline" *ngIf="!expandLegend">
          </ion-icon>
          <ion-icon class="expand_icon vh-center" slot="icon-only" name="chevron-up-outline" *ngIf="expandLegend">
          </ion-icon>
        </ion-button>
      </ion-list-header>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day">
            <button class="legende_day_btn survey_todo">12</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem1' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day">
            <button class="legende_day_btn survey_completed_and_editable">1</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem2' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day">
            <button class="legende_day_btn_disabled survey_completed">12</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem3' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day">
            <button class="legende_day_btn survey_in_progress">9</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem4' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day">
            <button class="legende_day_btn survey_danger">3</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem5' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="expandLegend">
        <ion-item slot="start" lines="none">
          <div class="legende_day" style="display: inline-grid;">
            <button class="legende_day_btn_disabled survey_danger_disabled">5</button>
            <button style="position: absolute; left: 2vw;"
              class="legende_day_btn_disabled survey_in_progress">9</button>
          </div>
        </ion-item>
        <ion-label class="color_urtic_theme_blue">{{ 'SurveyCalendar.CaptionItem6' | translate }}</ion-label>
      </ion-item>

    </ion-list>

  </ion-content>

  <app-navigation-button [leftButtonIcon]="previousIcon" [leftButtonText]="'SurveyCalendar.BackButton' | translate"
    (onLeftButtonClicked)="goBack()" [disableRightButton]="true" [hiddenRightButton]="true">
  </app-navigation-button>
</ion-app>