.legende_day {
    width: 14%;
    float: left;
    text-align: center;
    height: 36px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.legende_day_btn {
    border-radius: 36px;
    width: 36px;
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 36px;
    position: relative;
    z-index: 2;
    outline: 0;
    color: black;
    font-weight: bold;
}

.legende_day_btn_disabled {
    border-radius: 36px;
    width: 36px;
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 36px;
    position: relative;
    z-index: 2;
    outline: 0;
    color: rgba(60, 60, 67, 0.3);
    font-weight: bold;
}

.expand_icon {
    color: black;
    font-size: 3vh;
}